<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnessweb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style/home.css">
</head>
<body>

    <header>
         
        <div class="navbar">
                <p>Fitness zone</p>
            <div class="option">
                <p class="hello">Home</p>
                <p class="hello">Diet</p>
                <p class="hello">Tracker</p>
                <a href="user.html" style="text-decoration: none;"><p>User profile</p></a>

            </div>
            <div class="username">
                <i class="fa-solid fa-user"></i>
                <p>User name</p>
            </div>
        </div>

    </header>
<body>
    <div class="backimg">
        <p class="text">
            Hello! Welcome to Fitness helth website.
        </p>
    </div>
</body>
    <body>
            <div class="mide">
              <!-- <a href="sport.html" style="text-decoration: none;">  <div class="sport">
                    <P>sport</P>
                </div></a> -->
               <a href="fitness.html" style="text-decoration: none;"> <div class="fitness">
                    <p>Fitness</p>
                    
                </div></a>
            </div>

            <div class="info">
                <P>
                    Healthy life is Good life.
                </P>
            </div>
    </body>


</body>
</html>